@import "global";
@import "mixin/event";

.text-heading {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.text-normal {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.text-small {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #7780a1;
}
